@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #181818;
    height: 19vh;
}

main {
    min-height: 90vh;
}

footer {
    background-color: #181818;
    height: 19vh;
}

/* Logo start */

.image1 {
    grid-area: logo;
    margin-left: 1vh;
}

.image1:active {
    transform: scale(1.1);
}

/* Logo end */

/* navagation start */
.navbar {
    display: grid;
    grid-template-areas: "logo .  navigatie1 navigatie2 navigatie3 navigatie4 navigatie5 navigatie6 navigatie7";
    gap: 1vw;
    align-items: center;
}
.navbarv2{
    grid-area: navigatie7;
}

.Nav ul {
    list-style: none; 
    display: flex;
    flex-direction: row; 
    column-gap: 2vw; 
}




.Nav>ul a {
    list-style: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    color: white;
    transition: 0.4s;
}

.Nav li a:hover {
    background-color: yellowgreen;
    color: white;
    border-radius: 10px;
}

.Nav li a:active {
    background-color: red;
    transform: scale(1.4);
}

/* Navagation end */

/* Homepage */

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    place-self: center;
    
    height: 90vh;
}
.restaurant{
    margin-top: 5vh;
}
.slide {
    grid-column: 1; 
    grid-row:  3; 
}

.slideshow {
    height: 40vh;
    width: 40vw;
    margin-left: 4vh;
}

.Welkom {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    grid-column: 2;
    grid-row: 3;
    place-self: center;
}


.bestellen {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    grid-column: 3;
    grid-row: 3;
    place-self: center;
}

.Bestellen_titel {
    font-size: 30px;
}
/* Homepage end */

/* Menu begin */

.containerr {
    position: relative;
    min-height: 100vh;
}

.containerr h1 {
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
}

.containerr .image_container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.containerr .image_container .image {
    border: 10px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
}

.containerr .image_container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.containerr .image_container .image:hover img {
    transform: scale(5);
}

.containerr .popup-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
}

.containerr .popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.containerr .popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 630px;
    object-fit: cover;

}

/* Menu end */

/* Omars css */
.tekst {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "geschiedenis onderwerp2 onderwerp3 onderwerp4";
    margin-top: 10vh;
    justify-content: center;
    place-items: center;
    font-family: "Open Sans", sans-serif;
}

.iframe1{
    display: grid;
    grid-template-areas: "video1 video2";
    margin-top: 3vh;
    margin-bottom: 10vh;
}
iframe{
    margin-left: -6vh;
    width: 600px;
    height: 315px;
}
.video1{
    grid-area: video2;
}



.makers{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-areas: "maker1 maker2 maker3";
}
.managers{
    grid-area: maker2;
    display: flex;
    flex-direction: row;
    gap: 3vh;
}




.Dishes {
    display: grid;
    justify-content: center;
    gap: 5vh;
    margin-bottom: 10vh;
}

.Images_food {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 5vh;
    margin-bottom: -5vh;
}

.Dishes figure {
    text-align: center;
    width: 240px;
    margin-bottom: 10vh;
    gap: 5vh;
    font-family: "Open Sans", sans-serif;
}

.Dishes img {
    height: 150px;
    width: 100%;
}

.Dishes figcaption {
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .Images_food {
        display: inline;
    }
    @media screen and (max-width: 768px) {
        .tekst {
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas: 
                "geschiedenis"
                "onderwerp2"
                "onderwerp3"
                "onderwerp4"
        }
    
 
        .managers{
            display: inline;
        }
        
        
        .iframe1{
            grid-template-areas: "video1";
        }
        iframe{
            width: 50vh;
        }

        .tekst {
            gap: 3vh;
        }
    }
}

/* end omar css */

/* Hamburger menu */

.hamburger_flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -11vh;

}

.hamburger {
    width: 35px;
    margin-right: 3vh;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.bar::after,
.bar::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger.is-active .bar:nth-child(1)::before {
    transform: rotate(-45deg) translate(-9px, 0px);
}

.hamburger.is-active .bar:nth-child(1)::after {
    transform: rotate(45deg) translate(-8px, -0px);
}

.hamburger.is-active .bar:nth-child(2) {
    opacity: 0;
}

.mobile-nav {
    display: block;
    top: 0;
    left: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 98;
    background-color: rgba(0, 0, 0, .9);
    padding: 60px;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile_a {
    display: block;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 17px;
    background-color: rgb(0, 128, 0);
    color: white;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

.mobile_a:hover {
    background-color: orange;
    transition: 1s;
}

.mobile_a:active {
    background-color: whitesmoke;
}

.box_mobile {
    display: flex;
    justify-content: center;
}

/* Hamburger end */

/* Kishan, omar mobiel & tablet css */

@media screen and (min-width: 768px) {
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }
}


@media screen and (max-width: 768px) {

    .navbarv2 {
        display: none;
    }

    .content {
        display: inline;
    }

    .Welkom,
    .bestellen {
        margin-top: 5vh;
        margin-right: 2vh;
        flex-direction: column;
        text-align: center;
    }

    .image1 {
        margin-bottom: 1vh;
    }


   

    .slide,
    .slideshow {
        height: 30vh;
        width: 80vw;
        margin-top: 3vh;
        margin-left: 2vh;
    }
    .image1 {
        height: 17vh;
    }


}

/* mobiel end */

/* Mobiel homepage tablet */

@media screen and (min-width: 768px) and (max-width: 1240px) {
    .content {
        display: inline;
    }


    .image1 {
        height: 12vh;
    
    }

    .bestellen,
    .Welkom {
        margin: 0;
        padding: 1vh;
        flex-direction: column;
        font-size: 3vh;

    }

    .slide {
        margin: 0;
        padding: 10vh;
    }
    .bestellen {
        font-size: 3vh;
        margin-right: 28vh;
    }

    .Bestellen_titel {
        font-size: 4vh;
    }

    .slide,
    .slideshow {
        height: 60vh;
        width: 90vw;
        margin-left: -4vh;
    }

    .containerr .image_container {
        padding: 5px;
    }

    .containerr .popup-image span {
        display: none;
    }

}

/* Homepage menu end tablet */

/* Mobile menu and homepage */

@media screen and (max-width: 768px) {

    .containerr .popup-image span {
        display: none;
    }

    .containerr .popup-image img {
        width: 90%;
        max-width: none;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}


@media screen and (max-width: 1240px) {
    .containerr .popup-image img {
        width: 70%;
        max-width: none;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .navbar{
        height: 19vh;
        place-self: center;

    }
    .navbarv2{
        grid-area: navigatie1;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1240px) and (orientation: landscape) {
    .containerr .popup-image img {
        width: 45%;
        max-width: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .navbar{
        height: 19vh;
        place-self: center;

    }
    .navbarv2{
        grid-area: navigatie7;
    }
    .image1{
        height: 19vh;
    }

    .slide{
        margin-left: 1vh;
    }
    

}

/* Mobile menu and homepage end */



/* formulier en AVG */

.container_formulier {
    display: grid;
    place-items: center;
    height: 100vh;

}


.formulier {
    width: 50%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Open Sans", sans-serif;
    font-size: 2vh;
}

.formulier h1 {
    text-align: center;
    margin-bottom: 20px;
}

.formulier label {
    display: block;
    margin-bottom: 10px;
}

.formulier input,
.formulier select {
    width: 98%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulier button {
    width: 100%;
    padding: 10px;
    background-color: #006600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 2vh;
}

.formulier button:hover {
    background-color: #ff1d18;
    transition: 0.5s;
}

.container_compleet {
    display: grid;
    place-items: center;
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        ". . ."
        ". formulierInfo ."
        ". . .";
}

.informatie_reserving {
    font-size: 2vh;
    font-family: "Open Sans", sans-serif;
    padding: 10px;
    border-radius: 5px;
    grid-area: formulierInfo;
}

.container_compleet h1 {
    background-color: #990000;
    color: white;
    padding: 20px;
    font-size: 3vh;
    text-align: center;
}

.informatie_reserving h2,
.informatie_reserving h3 {
    font-size: 2.5vh;
    font-family: "Open Sans", sans-serif;
    margin: 0.1vh;
    font-weight: bold;
    text-align: center;
    margin-top: 1vh;
}

.container_formulier {
    display: grid;
    grid-template-areas: 
        "formulier1 formulier2 formulier3";
    gap: 20px; 
}

.formulier {
    grid-area: formulier2;
    width: 100%; 
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.avg h1,
.avg h2,
.avg h3,
.avg h4 {
    color: #333;
    font-weight: bold;
    font-size: 3vh;
}

.avg h2 {
    font-size: 3vh;
}

.avg p {
    font-size: 2vh;
}

.avg_titel {
    font-size: 3vh;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
    margin-left: 2vh;
}
.avg_link {
    list-style: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: white;
    transition: 0.4s;
    grid-column-start: 3;
    grid-column-end: 4;
}
.avg_container {
    display: grid;
    grid-template-rows: repeat(5, 1fr); 
    row-gap: 10px;
    margin-top: 5vh;
    background-color: white;
}
.avg {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
}

.avg_link {
    list-style: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: white;
    transition: 0.4s;
    grid-column-start: 3;
    grid-column-end: 4;
}

.avglink_containter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    height: 19vh;
}

.avg_link:hover {
    background-color: green;
}

@media screen and (max-width: 768px) {
    
    .formulier{
        width: 100%;
        
    }

    .avglink_containter {
        grid-template-columns: repeat(1, 1fr);
    }

    .avg_link {
        grid-column-start: 1;
        grid-column-end: 3; 
    }

    .avg {
        padding: 10px;
    }

    .avg h1,
    .avg h2,
    .avg h3,
    .avg h4 {
        font-size: 2.5vh;
    }

    .avg h2 {
        font-size: 2.5vh;
    }

    .avg p {
        font-size: 2vh;
    }

    .avg_titel {
        font-size: 2.5vh;
        margin: 0.5vh;
    }




}

/* einde formulier en AVG */

/* review page */

.review-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.reviewe {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
}

.reviewe h2 {
    margin-bottom: 20px;
}

.reviewe form {
    width: 100%;
    margin-bottom: 20px;
}

.reviewe label {
    margin-bottom: 10px;
}

.reviewe .review-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.reviewe textarea {
    resize: vertical;
    max-height: 200px; 
    overflow-y: auto;
}

.button-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.button-submit:hover {
    background-color: #ff1d18;
    transition: 1s;
}

.review {
    width: 100%;
    margin-top: 20px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.review p {
    font-family: "Open Sans", sans-serif;
    max-height: 200px; 
    overflow-y: auto;
}
